<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453871935398-uv664clns33dtraqjf04g91o3hoasefi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453871935398-uv664clns33dtraqjf04g91o3hoasefi</string>
	<key>API_KEY</key>
	<string>AIzaSyBCM0A_xt8llJQkCuOQZke8CGnon17Va90</string>
	<key>GCM_SENDER_ID</key>
	<string>453871935398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moneyTrack</string>
	<key>PROJECT_ID</key>
	<string>user-auth-money-track</string>
	<key>STORAGE_BUCKET</key>
	<string>user-auth-money-track.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453871935398:ios:2b0e41a8df7bbe6913f967</string>
</dict>
</plist>